11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [ ]:
#zoo.py
def hours():
    print('Open 9-5 daily')

In [ ]:
>>> import zoo
>>> zoo.hours()

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [ ]:
>>> import zoo as menagerie
>>> menagerie.hours()

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [ ]:
C:\Users\<user>\Desktop>sqlite books.db
sqlite>create table books (Title VARCHAR(20) PRIMARY KEY, Author TEXT, Year INT)

In [ ]:
import sqalchemy
import sqlite3

connect = sqlite3.connect('books.db')
cursor = connect.cursor('books.db')
select= '''SELECT title FROM books ORDER BY title ASC'''
cursor.execute(select)
rows = cursor.fetchall()

for row in rows:
    print(row[0])